html{
    background-color: #B4D0C4;

}
img{
    width:80vw;
    max-height:80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    position: relative;
    transform: translate(-50%, -100%);
    background-color: #ffffff00;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    border:2px solid red;
}
.btn:hover {
    background-color: #ffffffaa;
}